{% extends 'shpargalka/shpargalka_base.html' %}

{% load static %}
{% load mptt_tags %}
{% load thumbnail %}
{% load bootstrap_icons %}

{% block title %}
Авторизация
{% endblock title %}

{% block container %}

<!--================ Breadcrumbs Start =================-->
{% include 'includes/breadcrumbs.html' %}
<!--================Breadcrumbs End  =================-->

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!-- Sidebar Left start-->
                    {% include 'includes/sidebar_left.html' %}
                    <!-- Sidebar Left end-->
                </div>
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="col-lg-6">

                    <div class="review_box">
                        <!-- Register -->
                        <form class="row contact_form" action="{% url 'register' %}" method="post">
                            {% csrf_token %}

                            {% if user.register %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Регистрация</h4>
                                <p>Здравствуйте, {{ user.username }}! Вы успешно зарегистрированы!</p>
                                <hr>
                                <p class="mb-0">Все поля в фоме обязательны для заполнения!</p>
                            </div>
                            {% else %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Регистрация</h4>
                                <p>Здравствуйте, Гость! Для удобства полномерного использования сайта, рекомендуем пройти регистрацию.</p>
                                <hr>
                                <p class="mb-0">Все поля в фоме обязательны для заполнения!</p>
                            </div>
                             {% endif %}

                            <span style="color:red;">{{ user_form.errors }}</span>

                            <ul class="w-100">
                                <li>
                                    <div class="input-group w-100 mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                {% bs_icon 'person-fill' size='1.5em'%}
                                            </div>
                                        </div>
                                        {{ user_form.username }}
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                {% bs_icon 'envelope-fill' size='1.5em' %}
                                            </div>
                                        </div>
                                        {{ user_form.email }}
                                    </div>
                                </li>
                                <li>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{% bs_icon 'lock-fill' size='1.5em' %}
                                            </div>
                                        </div>
                                        {{ user_form.password }}
                                    </div>
                                </li>
                            </ul>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn submit_btn">Register</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock container %}
