{% extends 'shpargalka/shpargalka_base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
Post list
{% endblock title %}

{% block container %}

<!--================ Breadcrumbs Start =================-->
{% include 'includes/breadcrumbs.html' %}
<!--================Breadcrumbs End  =================-->

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <div class="category-wrap">
                            <!-- Sidebar Left start-->
                            {% include 'includes/sidebar_left.html' %}
                            <!-- Sidebar Left end-->
                        </div>
                    </aside>
                </div>
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                                <h2>{{ post.title}}</h2>
                            </a>
                            <ul class="blog-info-link">
                                <li><a href="/"><i class="ti-folder"></i> {{ post.category_article }}</a></li>
                                <li><a href="#"><i class="ti-calendar"></i> {{ post.created }}</a></li>
                            </ul>

                            <p>{{ post.full_text | safe }}</p>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock container %}