{% extends 'shpargalka/shpargalka_base.html' %}
{% load static %}
{% load mptt_tags %}
{% load thumbnail %}

{% block title %}
Post list
{% endblock title %}

{% block container %}

<!--================ Breadcrumbs Start =================-->
{% include 'includes/breadcrumbs.html' %}
<!--================Breadcrumbs End  =================-->

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!-- Sidebar Left start-->
                    {% include 'includes/sidebar_left.html' %}
                    <!-- Sidebar Left end-->
                </div>
            </div>

            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <!-- Sidebar Left start-->
                    {% include 'includes/message.html' %}
                    <!-- Sidebar Left end-->
                    <article class="blog_item">

                        {% for post in page_object %}
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                                <h4>{{ post.title}}</h4>
                            </a>
                            <ul class="blog-info-link">
                                <li><a href="{{ post.get_absolute_url }}">
                                    <i class="ti-folder"></i> {{ post.category_article }}</a></li>
                                <li><a href=""><i class="ti-calendar"></i> {{ post.created }}</a></li>
                            </ul>

                        </div>
                        {% endfor %}

                    </article>

                    <!-- Блок Pagination -->
                    {% include 'includes/pagination.html' %}
                    <!-- Блок Pagination -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock container %}


